<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <title>Beach Volley ScoreBoard</title>
        <style>
            .fade-enter-active,
            .fade-leave-active {
                transition: opacity 0.5s
            }
            .fade-enter,
            .fade-leave-to
            {
                opacity: 0
            }
            .board {
                width: fit-content;
                margin: 0 auto 1rem;
            }
        </style>
    </head>
    <body>
    </body>
        <div id="example-1" class="d-flex justify-content-center mt-5 ">
            <div class="text-center card">
                <div class="card-body">
                <h1>Beach Volley ScoreBoard</h1>
                    <div class="mt-3" v-if="this.winningPoints">
                        <div class="d-inline-flex">
                            <div class="col-6  text-center ">
                                <div class="alert alert-info board" role="alert">{{ teams[1] }}</div>
                                <button class="btn btn-warning" v-on:click="plusPoint(1)">Point team 1</button>
                            </div>
                            <div class="col-6">
                                <div class="alert alert-info board" role="alert"> {{ teams[2] }}</div>
                                <button class="btn btn-warning" v-on:click="plusPoint(2)">Point team 2</button>
                            </div>
                        </div>
                        <transition name="fade" mode="out-in">
                            <div v-if="changeCourt && this.winner == 0" class="alert alert-warning mt-3" role="alert">
                                {{ changeCourt }}
                            </div>
                            <div v-if="this.winner > 0" class="alert alert-success mt-3" role="alert">
                                team {{ this.winner }} winner
                            </div>
                        </transition>
                        <div class="mt-3">
                            <button class="btn btn-danger" v-on:click="resetScoreBoard()">Reset ScoreBoard</button>
                        </div>
                    </div>
                    <div v-else>
                        <p>Select the number points to win:</p>
                        <button class="btn btn-primary" v-on:click="selectWinningPoints(15)">15 points</button>
                        <button class="btn btn-primary" v-on:click="selectWinningPoints(21)">21 points</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var example1 = new Vue({
                el: '#example-1',
                data: () => ({
                    teams: {
                        1: 0,
                        2: 0
                    },
                    changeCourt : '',
                    winner: 0,
                    winningPoints : '',
                }),
                methods: {
                    plusPoint: function (team) {
                        if (this.winner === 0) {
                            this.teams[team] += 1;
                            var totalPoints = 0;
                            var i;
                            for (i = 1; i <= Object.keys(this.teams).length; i++) {
                                totalPoints += parseInt(this.teams[i]);
                                if (this.teams[i] >= this.winningPoints) {
                                    this.winner = i;
                                    if (this.winner == 1 && ((this.teams[1] - this.teams[2]) < 2)){
                                        this.winner = 0;
                                    } else if(this.winner == 1) {
                                        break;
                                    }
                                    if (this.winner == 2 && ((this.teams[2] - this.teams[1]) < 2)){
                                        this.winner = 0;
                                    }
                                }
                            }
                            if (totalPoints % (this.winningPoints/3) == 0) {
                                this.changeCourt = 'Change of Court';
                            } else {
                                this.changeCourt = '';
                            }
                        } 
                    }, 
                    selectWinningPoints: function(points) {
                        this.winningPoints = parseInt(points);
                    }, 
                    resetScoreBoard: function() {
                        Object.assign(this.$data, this.$options.data.call(this));
                    }
                }
            })
        </script>
    </body>
</html>
